<%= render 'welcome/navigation'%>
<h1>Friends</h1>
<div class='search-area'>
  <h3>Search Friends</h3>
</div>
<%= search_form_for @q, remote: true, url: my_friends_path do |f| %>
  <%= f.label :first_name_or_last_name_or_email_cont  %>
  <%= f.search_field :first_name_or_last_name_or_email_cont, class: "form-control" %>
  <%= f.submit %>
<% end %>
<div id="friend-results">


</div>
<% if !@friends.empty? %>
  <%= render 'friends/list'%>
<% end %>